@import "colors.css";
* {
    opacity: 0.99;
    border: none;

    font-family: "Roboto", "JetBrainsMono Nerd Font Propo";
    font-size: 1.2rem;
    font-weight: 700;

    min-height: 0px;
    min-width: 0px;

    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: alpha(@surface_bright, 0.75);
    border-radius: 10px;
}
tooltip label {
    color: white;
}

label.module {
    background-color: @surface_bright;
    color: @secondary;
    
    border-radius: 10px;

    margin: 0 5px;
    padding: 0 10px;
}
.modules-left {
    background-color: @surface_bright;
    color: @secondary;
    
    border-radius: 10px;

    margin: 0 5px;
    padding: 0 10px;
}

#workspaces{
    background-color: @surface_bright;
    
    border-radius: 10px;

    margin: 0 5px;
    padding: 0 7px;
}
#workspaces button {
    transition: all 350ms ease-in-out;

    color: @secondary;

    min-width: 30px;

    border: 3px solid transparent;
    border-radius: 10px;
    
    margin: 0 2.5px; 
    padding: 0 5px;
}
#workspaces button.active{
    background-color: @secondary;
    color: @surface_bright;
    
    min-width: 45px;
}

#custom-notification, #clock{
    margin: 0px;
    padding: 0px;
}
#custom-notification{
    padding-right: 3.5px;
}
#clock{
    padding-left: 3.5px;
}