@import "colors.css";
* {
    opacity: 0.99;
    border: none;

    font-family: "Roboto", "JetBrainsMono Nerd Font Propo";
    font-size: 150%;
    font-weight: 700;

    min-height: 0px;
    min-width: 0px;

    margin: 0px;
    padding: 0px;
}

window {
	background-color: transparent;
}

button {
	background-color: alpha(@surface_bright, 0.85);
    color: @secondary;

    border-radius: 20px;

    margin: 10px;
    padding: 100px;
}

button:focus, button:active, button:hover {
	background-color: alpha(@secondary, 0.95);
	color: @surface_bright;
}